/* ====================================
// css variables
// ==================================== */

:root {
  --white: #e5e5e5;
  --pink: #fcb7ed;
  --gray: #323743;
  --darkgray: #2c303a;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

body {
  font-family: "cantarell", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--pink);
  background-color: var(--gray);
}

html {
  background-color: var(--pink);
}

header {
  background-color: var(--darkgray);
  height: 80px;
  padding: 15px 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.navigation a {
  border-radius: 50px;
  border: 1px solid var(--pink);
  padding: 12px 90px;
}

a {
  color: var(--pink);
  text-decoration: none;
}
h1 {
  font-family: "eight";
  font-weight: 400;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  padding: 100px 0 130px;
}

.country {
  border-radius: 200px;
  overflow: hidden;
  border: 1px solid var(--pink);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.country-title {
  width: 50%;
  font-size: 20px;
}

.country img {
  width: 50%;
  border-radius: 200px;
  aspect-ratio: 1.56;
  object-fit: cover;
}

@media (min-width: 992px) {
  .country {
    border: none;
    border-radius: 0;
  }
  .country img {
    width: 100%;
    border-radius: 50px;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .country-title {
    display: none;
  }
}
