/* ====================================
// css variables
// ==================================== */

:root {
  --white: #e5e5e5;
  --pink: #fcb7ed;
  --gray: #323743;
  --grayblur: rgba(50, 55, 67, 0.8);
  --darkgray: #2c303a;
  --my-gradient: linear-gradient(to left, var(--darkgray), #2c303a00);
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

body {
  font-family: "cantarell", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  color: var(--pink);
  background-color: var(--gray);
}

html {
  background-color: var(--pink);
}

header {
  background-color: var(--darkgray);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

@media (max-width: 767px) {
  header {
    height: 70px;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding: 0 20%;
}

.navigation a {
  border-radius: 50px;
  border: 1px solid var(--pink);
  padding: 12px 10%;
}

a {
  color: var(--pink);
  text-decoration: none;
}

.burger-menu {
  position: fixed;
  right: 23px;
  top: 23px;
  display: none;
  z-index: 1;
}

.background-blur-burger {
  background-color: var(--grayblur);
  backdrop-filter: blur(4px);
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.background-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 230px;
}

.menu {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--gray);
  padding: 150px 5px 50px;
  border-radius: 25px;
}

.background-blur-burger.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 10px 20px;
  border: 1px solid var(--pink);
  border-radius: 50px;
  width: 255px;
  display: block;
}

li {
  list-style: none;
}

@media (min-width: 768px) {
  .background-blur-menu {
    display: none;
  }
}

h1 {
  font-family: "eight";
  font-weight: 400;
  margin-bottom: 20px;
}

.intro {
  text-align: center;
  padding-top: 135px;
}

.intro p,
.nav {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
  header {
    background-color: var(--gray);
  }
  .burger-menu {
    display: block;
  }
}

@media (min-width: 1200px) {
  .intro p,
  .nav {
    margin-bottom: 80px;
  }
}
.country {
  border-radius: 200px;
  overflow: hidden;
  border: 1px solid var(--pink);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.country-overlay {
  position: absolute;
  background-image: var(--my-gradient);
  inset: 0;
  border-radius: 50px;
  box-shadow: -1px 0 var(--pink) inset;
  opacity: 0;
}

.country:hover .country-overlay {
  opacity: 1;
}

.overlay-title {
  position: absolute;
  right: 10px;
  bottom: 45px;
  text-align: right;
}

.line {
  width: 120px;
  height: 1px;
  background-color: var(--pink);
  position: absolute;
  right: -9px;
}

.country-title {
  width: 50%;
  font-size: 20px;
}

.country img {
  width: 50%;
  border-radius: 200px;
  aspect-ratio: 1.56;
  object-fit: cover;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .country-overlay {
    display: none;
  }
}

@media (min-width: 768px) {
  .country {
    border: none;
    border-radius: 0;
    margin-bottom: 25px;
  }
  .country img {
    width: 100%;
    border-radius: 50px;
    aspect-ratio: 1;
    object-fit: cover;
  }
  .country-title {
    display: none;
  }
}

.pattern {
  height: 90px;
  width: auto;
  background-size: contain;
  margin: 50px 0 30px;
}

@media (min-width: 576px) {
  .pattern {
    height: 160px;
  }
}

@media (min-width: 768px) {
  .pattern {
    height: 260px;
  }
}

.pattern-france {
  background-image: url(/img/france/french-pattern.png);
}

.pattern-japan {
  background-image: url(/img/japon/japanese-pattern.png);
}

.pattern-ethiopian {
  background-image: url(/img/éthiopie/ethiopian-pattern.png);
}

.pattern-greek {
  background-image: url(/img/grèce/greek-pattern.png);
}

.pattern-mexican {
  background-image: url(/img/mexique/mexican-pattern.png);
}

.pattern-libanese {
  background-image: url(/img/liban/libanese-pattern.png);
}

.pattern-maroccan {
  background-image: url(/img/maroc/moroccan-pattern.png);
}

.pattern-indian {
  background-image: url(/img/inde/indian-pattern.png);
}

.pattern-end {
  background-image: url(/img/zfooter-pattern.png);
}

.title,
.center,
.img-height {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100%;
}

.center.no-height {
  height: auto;
}

.img-height img {
  height: 100%;
  object-fit: cover;
}
section img {
  border-radius: 50px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 38px;
  text-transform: uppercase;
  text-align: center;
}

.button-menu {
  border: 1px solid var(--pink);
  border-radius: 50px;
  width: 165px;
  height: 42px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-mobile.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu-mobile {
  text-align: center;
  font-size: 16px;
  line-height: normal;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

h3 {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}

.menu-mobile li {
  font-weight: 500;
  margin: 5px 0;
}

.text-part p {
  margin: 35px 0;
}

@media (max-width: 991px) {
  .title h2 {
    letter-spacing: 30px;
  }
}

@media (max-width: 767px) {
  section img {
    display: none;
  }
  section .carousel img {
    display: block;
    margin-bottom: 35px;
  }
  .title h2 {
    font-size: 23px;
    letter-spacing: 27px;
  }
}

@media (min-width: 768px) {
  .carousel {
    display: none;
  }
}

footer {
  background-color: var(--white);
  color: var(--darkgray);
}

footer h2 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: normal;
  margin: 55px 0 35px;
}

footer a {
  color: var(--darkgray);
  text-decoration: 0.75px underline;
  font-size: 12px;
}

.footer-center {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.timetable {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 6px;
}

.contact-center {
  display: flex;
  justify-content: center;
}

.instagram,
.mail,
.phone,
.adress,
.timetable {
  display: flex;
  justify-items: center;
}

.icon {
  width: 25px;
  margin-right: 45px;
}

.credit {
  font-size: 11px;
  margin: 30px 0;
  text-align: center;
}

.hours p,
.day p {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .footer-center {
    flex-direction: row;
  }
  .contact {
    margin-top: 55px;
    gap: 30px;
  }
}
